<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <dt>Average Rating</dt>
          <dd><%= @product.reviews.average(:rating) %></dd>
        </dl>
      </div>
    </div>

    <% if current_user%>
      <div class="review-form">
        <h2>Post a Review</h2>
        <%= form_for [@product, @review] do |f| %>
          <%= f.hidden_field :product_id, value: @product.id %>
          <%= f.hidden_field :user_id, value: @current_user.id %>
          <ul>
          <li>Review: <%= f.text_area :description %></li>
          <li>Rating <%= f.select :rating, [5, 4, 3, 2, 1] %> </li>
          </ul>
          <%= f.submit 'Submit Review' %>
        <% end %>
      </div>
    <% end %>

    <div class "row reviews">
      <h2><%= pluralize(@product.reviews.count, 'Review', 'Reviews') %></h2>
      <% @product.reviews.order(created_at: :desc).each do |r| %>
        <article>
          <header>By: <strong><%= r.user.first_name %></strong></header>
          <ul>
          <li>Rating: <strong><%= r.rating %></strong></header></li>
          <li>Review: <p><%= r.description %></p></li>
          </ul>
        </article>
        
        <% if r.user == current_user %>
          <%= link_to fa_icon('rash'), [@product, r], class: 'btn btn-sm btn-danger', method: :delete, data: {} %>
        <% end %>
      <% end %>
    </div>

  </article>

</section>